<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xyg.eshop.main.mapper.ContractRelatePersonnelMapper">


    <delete id="deleteByPersonnelId" parameterType="Long">
        delete from ESHOP_CONTRACT_RELATED_PERSONNEL where ID = #{id}
    </delete>

</mapper>
