<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xyg.eshop.main.mapper.StorefrontMapper">

    <select id="findMaxUpdateDate" resultType="java.time.LocalDateTime">
        select max(last_update_date)
        from eshop_storefront
    </select>

    <select id="getPage" resultType="org.xyg.eshop.main.vo.StorefrontVO">
        select
        storefront.ID,
        storefront.STOREFRONT_NAME,
        storefront.STOREFRONT_CODE,
        storefront.TYPE,
        storefront.ADDRESS,
        storefront.STOREFRONT_LEVEL,
        storefront.STATUS,
        storefront.CREATION_DATE,
        storefront.SALESREP_NO,
        storefront.CREATED_BY,
        storefront.address1,
        storefront.address2,
        storefront.address3
        from ESHOP_STOREFRONT storefront
        <where>
            <if test="storefrontVO.storefrontName!=null and storefrontVO.storefrontName != ''">
                AND storefront.STOREFRONT_NAME like CONCAT(CONCAT('%',#{storefrontVO.storefrontName}),'%')
            </if>
            <if test="storefrontVO.storefrontCode!=null and storefrontVO.storefrontCode != ''">
                AND storefront.STOREFRONT_CODE like CONCAT(CONCAT('%',#{storefrontVO.storefrontCode}),'%')
            </if>
            <if test="storefrontVO.type!=null and storefrontVO.type != ''">
                AND storefront.TYPE = #{storefrontVO.type}
            </if>
            <if test="storefrontVO.statusSearch!=null and storefrontVO.statusSearch != ''">
                AND find_in_set(storefront.STATUS,#{storefrontVO.statusSearch}) > 0
            </if>
        </where>
        order by storefront.last_update_date desc
    </select>

    <select id="getAllByPage" resultType="org.xyg.eshop.main.vo.StorefrontVO">
        select
        storefront.ID,
        storefront.STOREFRONT_NAME,
        storefront.STOREFRONT_CODE,
        storefront.TYPE,
        storefront.ADDRESS,
        storefront.STOREFRONT_LEVEL,
        storefront.STATUS,
        storefront.CREATION_DATE,
        storefront.SALESREP_NO,
        storefront.CREATED_BY
        from ESHOP_STOREFRONT storefront
        <where>
            <if test="storefrontVO.storefrontName!=null and storefrontVO.storefrontName != ''">
                AND storefront.STOREFRONT_NAME like CONCAT(CONCAT('%',#{storefrontVO.storefrontName}),'%')
            </if>
            <if test="storefrontVO.storefrontCode!=null and storefrontVO.storefrontCode != ''">
                AND storefront.STOREFRONT_CODE like CONCAT(CONCAT('%',#{storefrontVO.storefrontCode}),'%')
            </if>
            <if test="storefrontVO.type!=null and storefrontVO.type != ''">
                AND storefront.TYPE = #{storefrontVO.type}
            </if>
            <if test="storefrontVO.statusSearch!=null and storefrontVO.statusSearch != ''">
                AND find_in_set(storefront.STATUS,#{storefrontVO.statusSearch}) > 0
            </if>
        </where>
        order by storefront.last_update_date desc
    </select>

</mapper>
